<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>¿No estás convencido? Mira lo que he construido.</h1>
        </div>
        <div class="row"> 
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
                <a class="verde" target="_blank" href="https://calm-retreat-78755.herokuapp.com/">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a class="verde" href="{{ url_for('static', filename='libreta-cliente.exe') }}">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p>Una aplicación para gestionar mis tareas.</p>
                <a class="verde" href="{{ url_for('static', filename='db.exe') }}">Link aquí</a>
            </div>     
        </div>
    </div>
</div>